<div class="" id="page-wrapper">
  <div class="container-fluid">
      <div class="col-md-8 login-form">
        <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <div>
              <label class="control-label lime" for="companyNameId" >Компания</label>
              <div>
                <input id="companyNameId" class="form-control" formControlName="editName" type="text">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div>
              <label class="control-label lime" for="urlId">URL</label>
              <div >
                <input id="urlId" class="form-control" formControlName="editUrl" type="url">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div>
              <label class="control-label lime" for="thumbId">Миниатюра</label>
              <div >
                <input id="thumbId" class="form-control" formControlName="editThumb" type="url">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div>
              <label class="control-label lime" for="countryId">Страна</label>
              <div >
                <input id="countryId" class="form-control" formControlName="editCountry" type="url">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div>
              <label class="control-label lime" for="languageId">Язык страницы</label>
              <div >
                <input id="languageId" class="form-control" formControlName="editLanguage" type="url">
              </div>
            </div>
          </div>
          <div class="error-msg" *ngIf="companyError != null">
            <span>{{companyError}}</span>
          </div>
          <div class="row" style="padding-left: 18px;" *ngIf="isDeleteMsgShow == false">
            <button type="button" class="btn btn-success green-btn" (click)="onSubmit()">
              Сохранить
            </button> &nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-light white-btn" (click)="onCancel()">
              Отмена
            </button>
            <button type="button" class="btn btn-warning red-btn" (click)="isDeleteMsgShow = true">
              Удалить
            </button>
          </div>
          <div class="row-stat" *ngIf="isDeleteMsgShow == true">
            <p class="lime">Удалить компанию {{company.companyName}} и всю информацию по ней ?</p>
            <button type="button" class="btn btn-light white-btn" (click)="onDelete()">
              Да
            </button> &nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-success green-btn" (click)="isDeleteMsgShow = false">
              Нет
            </button> &nbsp;&nbsp;&nbsp;
          </div>
        </form>
      </div>
  </div>
</div>

