.tbody-content {
  width: 100%;
  max-height: 610px;
  overflow-y: auto;
  overflow-x: hidden;
}

.sel-row {
  &:hover {
    cursor: pointer;
    background-color: #cecece;
    color: black;
  }
}
.section_info{
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  font-family: "Roboto Condenced";
  font-size: 10px;
  color: #2a6496;
}


