<div class="" id="page-wrapper">
  <div class="container-fluid lime">
    <button type="button" class="btn btn-link white-btn" (click)="goBack()">
      <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;НАЗАД
    </button>
    <p class="orange"><b class="lime">{{companyPage.pageName}}</b></p>
    <p class="green3 text-underline">{{companyPage.parseUrl}}</p>
    <div class="row row-header" >
      <button type="button" class="btn btn-primary green-btn" *ngIf="addEnabled" (click)="addToScheduller()">
        Добавить в расписание
      </button>
      <button type="button" class="btn btn-success green-btn" (click)="testParsing()">
        Тестировать парсинг
      </button>
    </div>
    <div *ngIf="showPageTagForm == false">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr class="gray-text">
            <th style="width:5%">Номер</th>
            <th style="width:27%">Описание</th>
            <th style="width:28%">Открывающий тег</th>
            <th style="width:28%">Закрывающий тег</th>
            <th style="width:4%">Направление</th>
            <th style="width:8%">№ в поиске</th>

          </tr>
          </thead>
        </table>
        <div class="tbody-content">
          <table class="table">
            <tbody>
            <tr class="gray-text sel-row" *ngFor="let tag of pageTags;let idx = index" (click)="showTagForm( tag )">
              <td style="width:5%">
                <span>{{idx}}</span>
              </td>
              <td style="width:27%" class="select-td">
                <span>{{tag.tagName}}</span>
              </td>
              <td style="width:28%" class="select-td">
                <span>{{tag.startTag}}</span>
              </td>
              <td style="width:28%" class="select-td">
                <span>{{tag.endTag}}</span>
              </td>
              <td style="width:4%" class="select-td">
                <span>{{tag.reversed}}</span>
              </td>
              <td style="width:8%" class="select-td">
                <span>{{tag.entryNumber}}</span>
              </td>

            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="pageTagFormId" class="col-md-8" *ngIf="showPageTagForm == true">
      <small class="orange-bacground">Добавление/Редактирование тега</small>
      <form [formGroup]="tagForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <div>
            <label class="control-label lime" for="tagNameId">Описание тега</label>
            <div>
              <input id="tagNameId" class="form-control" formControlName="fDescription" type="text" >
            </div>
          </div>
        </div>
        <div class="form-group">
          <div>
            <label class="control-label lime" for="startTagId">Открывающий тег</label>
            <div>
              <input id="startTagId" class="form-control" formControlName="fStartTag" type="url">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div>
            <label class="control-label lime" for="attrId">Закрывающий тег</label>
            <div>
              <input id="attrId" class="form-control" formControlName="fEndtTag" type="text">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div>
            <label class="control-label lime">Направление</label>
            <div>
              <select formControlName="fDirection" class="form-control" id="find-direction">
                <option *ngFor="let dir of directions" value="{{dir.value}}">
                  {{dir.key}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div>
            <label class="control-label lime" for="countId">Номер в поиске</label>
            <div>
              <input id="countId" class="form-control" formControlName="fEntryNum" type="number">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div>
            <label class="control-label lime" for="translateId">Переводить поле</label>
            <div>
              <input id="translateId" class="form-control" formControlName="fNeedTranslate" type="number">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div>
            <label class="control-label lime" for="imageId">Признак изображения</label>
            <div>
              <input id="imageId" class="form-control" formControlName="fIsImage" type="number">
            </div>
          </div>
        </div>
<!--        <div class="form-group">-->
<!--          <div>-->
<!--            <label class="control-label lime" for="tableId">Таблица</label>-->
<!--            <div>-->
<!--              <input id="tableId" class="form-control" formControlName="fMapTable" type="text">-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <div>-->
<!--            <label class="control-label lime" for="fieldId">Поле таблицы</label>-->
<!--            <div>-->
<!--              <input id="fieldId" class="form-control" formControlName="fMapField" type="text">-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

        <div class="error-msg" *ngIf="tagError != null">
          <span>{{tagError}}</span>
        </div>
        <div class="row" style="padding-left: 18px;" *ngIf="isDeleteMsgShow == false">
          <button type="button" class="btn btn-success green-btn" (click)="onSubmit()">
            Сохранить
          </button> &nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-light white-btn" (click)="onCancel()">
            Отмена
          </button>
          <button type="button" class="btn btn-warning red-btn" *ngIf="selPageTag.id != null"
                  (click)="isDeleteMsgShow = true">
            Удалить
          </button>
        </div>
        <div class="row-stat" *ngIf="isDeleteMsgShow == true">
          <p class="lime">Удалить тег {{selPageTag.tagName}} и всю информацию?</p>
          <button type="button" class="btn btn-light white-btn" (click)="onDelete()">
            Да
          </button> &nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-success green-btn" (click)="isDeleteMsgShow = false">
            Нет
          </button> &nbsp;&nbsp;&nbsp;
        </div>
      </form>
    </div>
    <div id="testResultId" *ngIf="showParseResult == true">
      <div id="sectionId" class="section_info" >
        {{testResult.section}}
      </div>
      <div style="border-bottom: 1px solid orange" *ngFor="let block of testResult.data">
        <p>{{block.blockId}}</p>
        <div  *ngFor="let item of block.parseItems">
           <span class="lime">{{item.displayName}}</span>:
           <small class="orange" *ngIf="item.image == false">{{item.parseValue}}</small>
           <div *ngIf="item.image == true">
             <small class="orange" >{{item.parseValue}}</small><br>
             <img style="width: 128px;height: 128px" src="{{item.parseValue}}">
           </div>
        </div>
      </div>
    </div>
  </div>
  <br/><br/><br/>
</div>
<div id="loading-div-id" class="loading-div" *ngIf="busy == true">
  <img src="../../../assets/images/load.gif">
</div>
