@font-face {
  font-family: "Roboto Condenced";
  src: url(assets/fonts/RobotoCondensed-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Medium";
  src: url(assets/fonts/Roboto-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Bold";
  src: url(assets/fonts/Roboto-Bold.ttf) format("truetype");
}

@import 'scss/variables';
@import '../node_modules/bootstrap/scss/bootstrap';
//@import 'scss/custom';
@import 'scss/responsive';





