<div class="sidebar hidden-sm-down">
  <div class="av-page text-center" *ngIf="showAvailSites == false">
    <p class="text-center company-title">{{navTitle != null ? navTitle : ''}}</p>
    <button type="button" class="btn btn-link white-btn" (click)="showAllCompanies()">
      <small>вернуться</small>
    </button> &nbsp;&nbsp;&nbsp;
  </div>
  <div *ngIf="showAvailSites == true">
    <ul>
      <li class="url-li">
        <span class="lime" (click)="showManufacturerPages()">Производители</span>
      </li>
      <li class="url-li">
        <span class="lime">Категории</span>
        <ul>
          <li class="url-li category" *ngFor="let category of categories" (click)="onCategorySelect(category)" >
            <span class="orange" [ngClass]="{'depth-one':category.depth == 1,
                                              'depth-two':category.depth == 2,
                                                'depth-three':category.depth == 3,
                                                  'leaf':category.node == false }" >
              <i class="fa fa-plus plus-i" *ngIf="category.node == true"></i>{{category.categoryName}}</span>
          </li>
        </ul>
      </li>
    </ul>
 </div>


</div>
