.add-company-btn{
  margin-left: 32px;
  margin-top: 12px;
  background-color: #fefece!important;
  color: #555555 !important;
}

.company-title{
  font-size: 24px;
  color: #222222;
  font-weight: bold;
}

.edit-btn{
  font-size: 14px;
  padding: 4px;
  margin-left: 12px;
  &:hover{
    cursor: pointer;
    color: #555555;
  }
}

.av-page{
  text-align: center;
  margin-bottom: 12px;
  small{
    text-decoration: underline;
    font-family: "Roboto Condenced";
  }

}
.url-li{
  color: #555555;
  span{
    font-family: "Roboto Condenced";
    &:hover{
      cursor: pointer;
      color: #c78600;
      text-decoration: underline;
    }
  }

}
