.add-company-btn{
  margin-left: 32px;
  margin-top: 12px;
  background-color: #fefece!important;
  color: #555555 !important;
}

.company-title{
  font-size: 24px;
  color: #222222;
  font-weight: bold;
}

.edit-btn{
  font-size: 14px;
  padding: 4px;
  margin-left: 12px;
  &:hover{
    cursor: pointer;
    color: #555555;
  }
}

.av-page{
  text-align: center;
  margin-bottom: 12px;
  small{
    text-decoration: underline;
    font-family: "Roboto Condenced";
  }

}
.url-li{
  color: #555555;
  span{
    font-family: "Roboto Condenced";
    color: black;
  }
}
.category{
  list-style-type: none;
  span{
    color: #777777;
    font-family: "Roboto Condenced";
    font-size: 14px;
  }
}
.plus-i{
  font-size: 12px;
  margin-right: 8px;
}

.depth-one{
  margin-left: 8px;
}
.depth-two{
  margin-left: 16px;
}
.depth-three{
  margin-left: 24px;
}
.leaf{
  color: #3F00FF!important;
  font-weight: bold;
  &:hover{
    cursor: pointer;
    color: #c78600;
    text-decoration: underline;
  }
}

