<div class="" id="page-wrapper">
  <div class="container-fluid">
    <div class="row row-stat dash-container" *ngIf="isEmptyScreen == true">
    </div>

    <div *ngIf="isEmptyScreen == false">
      <div class="row row-header">
        <button type="button" class="btn btn-primary green-btn" (click)="addCompanyPage()">
          Добавить страницу
        </button>
      </div>
      <div class="row row-stat ">
        <div class="dash-container">
          <div class="dash-item" *ngFor="let companyPage of company.companyPages" (click)="parseConfig( companyPage) ">
            <div class="orange ">{{companyPage.pageName}}<i class="fa fa-pencil dash-edit-btn" (click)="editPage( companyPage )"></i></div>
            <div class="dash-url">{{companyPage.parseUrl}}</div>
            <small class="dash-desc">Последнее обновление: <b>{{companyPage.lastUpdate}}</b>,Статус:
              <b>{{companyPage.updateResult}}</b>
              , Описание: <b>{{companyPage.description}}</b></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
